<html>

<head>

    <title>Grammar-Ian</title>
    <meta charset='utf8'>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.0/js/solid.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.0/js/fontawesome.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/template.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"></link>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="row h-auto">
        <div class="col-5 border-right h-75">

            <div class="row mx-3 my-4">
                <div class="col">
                    <div class="main-content shadow-sm p-2" id="showcase">
                        <h5 class="text-center">
                            <i>"Submit your article, and click the sentence. <br>
                                We will examine your grammar level."</i>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="row mx-3 my-4">
                <div class="col">
                    <form>
                        <div class="form-group">
                            <div id="content-block" class="h-75 form-control" aria-label="content"
                                contenteditable="true" spellcheck="false">
                                Unlike many approaches to GEC, this approach does NOT require annotated training data
                                and mainly depends on a monolingual language model. The program works by iteratively
                                comparing certain words in a text against alternative candidates and applying a
                                correction if one of these candidates is more probable than the original word. These
                                correction candidates are variously generated by a spell checker, morphological
                                inflection database, or are otherwise defined manually. Currently, this system only
                                corrects these sentences.
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <button id="btn-clear" class="border-0 btn btn-outline-secondary mr-1">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button id="btn-copy" class="btn btn-outline-secondary mr-1">
                                <i class="fas fa-copy"></i>
                            </button>
                            <button id="btn-submit" class="btn btn-primary ml-1">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-7 h-75">

            <div class="row mx-3 my-4">
                <div class="col">
                    <div id="overlay" class="fa-2x d-none"><i id="loading" class="fas fa-spinner fa-spin"></i></div>
                    <nav class="mb-3">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-grammar-tab" data-toggle="tab"
                                href="#nav-grammar" role="tab" aria-controls="nav-grammar"
                                aria-selected="true">Grammar</a>
                            <a class="nav-item nav-link" id="nav-vocab-tab" data-toggle="tab" href="#nav-vocab"
                                role="tab" aria-controls="nav-vocab" aria-selected="false">Vocabulary</a>
                        </div>
                    </nav>

                    <div class="tab-content shadow-sm h-100" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-grammar" role="tabpanel"
                            aria-labelledby="nav-grammar-tab">
                            <div class="main-content p-2" id="main-grammar"></div>
                            <div class="no-content">
                                <h5 class="text-center py-1">
                                    <i>No content.</i>
                                </h5>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-vocab" role="tabpanel" aria-labelledby="nav-vocab-tab">
                            <div class="main-content p-2" id="main-vocab"></div>
                            <div class="no-content">
                                <h5 class="text-center py-1">
                                    <i>No content.</i>
                                </h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
</body>

</html>