<html>

<head>

    <title>Level-Up</title>
    <meta charset='utf8'>
    
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}"></link>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">UP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Feature</a>
          </li>
        </ul>
          
        <form class="input-group input-group-sm mr-auto mx-2 my-2 my-lg-0 w-50">
          <input type="text" class="form-control" id="url-input" placeholder="URL" aria-label="URL-addon" aria-describedby="URL-addon"
                 value="https://blogs.scientificamerican.com/observations/ais-big-challenge1/">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="btn-url-search">Go</button>
          </div>
        </form>
          
        <button id="btn-description" class="btn btn-sm btn-link" data-toggle="modal" data-target="#description-modal">
            <i class="fas fa-question"></i>
        </button>
          
      </div>
    </nav>

    
    <section class="row h-auto">
        <div class="col-5 border-right h-75">

            <div class="row mx-3 my-4">
                <div class="col">
                    <div class="main-content shadow-sm p-2" id="showcase">
                        <h5 class="text-center">
                            <i>"Submit your article, and click the sentence. <br>
                                We will examine your grammar level."</i>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="row mx-3 my-4">
                <div class="col">
                    <form>
                        <div class="form-group">
                            <div id="content-block" class="h-75 form-control" aria-label="content"
                                contenteditable="true" spellcheck="false">
                                Unlike many approaches to GEC, this approach does NOT require annotated training data
                                and mainly depends on a monolingual language model. The program works by iteratively
                                comparing certain words in a text against alternative candidates and applying a
                                correction if one of these candidates is more probable than the original word. These
                                correction candidates are variously generated by a spell checker, morphological
                                inflection database, or are otherwise defined manually. Currently, this system only
                                corrects these sentences.
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <button id="btn-clear" class="border-0 btn btn-outline-secondary mr-1">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                            <button id="btn-copy" class="btn btn-outline-secondary mr-1">
                                <i class="fas fa-copy"></i>
                            </button>
                            <button id="btn-submit" class="btn btn-primary ml-1">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-7 h-75">
            <!-- Loading -->
            <div id="overlay" class="fa-2x d-none"><i id="loading" class="fas fa-spinner fa-spin"></i></div>
    
            <div class="row mx-3 my-4">
                <div class="col">
                    <nav class="mb-3">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-suggest-tab" data-toggle="tab"
                                href="#nav-suggest" role="tab" aria-controls="nav-suggest" aria-selected="true">Suggest</a>
                            <a class="nav-item nav-link" id="nav-grammar-tab" data-toggle="tab"
                                href="#nav-grammar" role="tab" aria-controls="nav-grammar" aria-selected="true">Grammar</a>
                            <a class="nav-item nav-link mr-auto" id="nav-vocab-tab" data-toggle="tab" href="#nav-vocab"
                                role="tab" aria-controls="nav-vocab" aria-selected="false">Vocabulary</a>

                            <button id="btn-setting" class="ml-1 text-secondary btn btn-link" data-toggle="modal" data-target="#setting-modal">
                                <i class="fas fa-cog"></i>
                            </button>
                        </div>
                    </nav>

                    <div class="tab-content h-100" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-suggest" role="tabpanel"
                            aria-labelledby="nav-suggest-tab">
                            <div class="main-content p-2" id="main-suggest"></div>
                            <div class="no-content">
                                <h5 class="text-center py-1">
                                    <i>No content.</i>
                                </h5>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="nav-grammar" role="tabpanel"
                            aria-labelledby="nav-grammar-tab">
                            <div class="main-content p-2" id="main-grammar"></div>
                            <div class="no-content">
                                <h5 class="text-center py-1">
                                    <i>No content.</i>
                                </h5>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-vocab" role="tabpanel" aria-labelledby="nav-vocab-tab">
                            <div class="main-content p-2" id="main-vocab"></div>
                            <div class="no-content">
                                <h5 class="text-center py-1">
                                    <i>No content.</i>
                                </h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    
    <!-- Description Modal -->
    <div class="modal fade" id="description-modal" tabindex="-1" role="dialog" aria-labelledby="description-modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="description-modal-title">CEFR Levels</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            
          <div class="modal-body">
            <table class="table">
                <thead>
                    <tr><th>Level</th><th>Explanation</th></tr>
                </thead>
                <tbody>
                    <tr><th><span class="badge C2">C2</span></th><td>Mastery or proficiency</td></tr>
                    <tr><th><span class="badge C1">C1</span></th><td>Effective operational proficiency or advanced</td></tr>
                    <tr><th><span class="badge B2">B2</span></th><td>Vantage or upper intermediate</td></tr>
                    <tr><th><span class="badge B1">B1</span></th><td>Threshold or intermediate</td></tr>
                    <tr><th><span class="badge A2">A2</span></th><td>Waystage or elementary</td></tr>
                    <tr><th><span class="badge A1">A1</span></th><td>Breakthrough or beginner</td></tr>
                </tbody>
            </table>
          </div>
            
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
            
        </div>
      </div>
    </div>
    
    <!-- Setting Modal -->
    <div class="modal fade" id="setting-modal" tabindex="-1" role="dialog" aria-labelledby="setting-modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="setting-modal-title">Settings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            
          <div class="modal-body">
              
              <form class="form-group">
                <p>Grammar Level:</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="grammar-setting" type="checkbox" id="grammar-checkbox-a1" value="A1" checked>
                    <label class="form-check-label" for="grammar-checkbox-a1">A1</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" name="grammar-setting" type="checkbox" id="grammar-checkbox-a2" value="A2" checked>
                  <label class="form-check-label" for="grammar-checkbox-a2">A2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="grammar-setting" type="checkbox" id="grammar-checkbox-b1" value="B1" checked>
                    <label class="form-check-label" for="grammar-checkbox-b1">B1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="grammar-setting" type="checkbox" id="grammar-checkbox-b2" value="B2" checked>
                    <label class="form-check-label" for="grammar-checkbox-b2">B2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="grammar-setting" type="checkbox" id="grammar-checkbox-c1" value="C1" checked>
                    <label class="form-check-label" for="grammar-checkbox-c1">C1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="grammar-setting" type="checkbox" id="grammar-checkbox-c2" value="C2" checked>
                    <label class="form-check-label" for="grammar-checkbox-c2">C2</label>
                </div>
              </form>

              <hr>
              
              <form class="form-group">
                  <p>Vocabulary Level:</p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="vocab-setting" type="checkbox" id="vocab-checkbox-a1" value="A1" checked>
                    <label class="form-check-label" for="vocab-checkbox-a1">A1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="vocab-setting" type="checkbox" id="vocab-checkbox-a2" value="A2" checked>
                    <label class="form-check-label" for="vocab-checkbox-a2">A2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="vocab-setting" type="checkbox" id="vocab-checkbox-b1" value="B1" checked>
                    <label class="form-check-label" for="vocab-checkbox-b1">B1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="vocab-setting" type="checkbox" id="vocab-checkbox-b2" value="B2" checked>
                    <label class="form-check-label" for="vocab-checkbox-b2">B2</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="vocab-setting" type="checkbox" id="vocab-checkbox-c1" value="C1" checked>
                    <label class="form-check-label" for="vocab-checkbox-c1">C1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="vocab-setting" type="checkbox" id="vocab-checkbox-c2" value="C2" checked>
                    <label class="form-check-label" for="vocab-checkbox-c2">C2</label>
                </div>
              </form>
              
              <hr>
              
              <p>Select:</p>
              <!-- Add more -->
              <select class="selectpicker" multiple id="category-select" name="category-select[]" data-actions-box="true">
                  <option value='ADJECTIVES'>Adjectives</option>
                  <option value='ADVERBS'>Adverbs</option>
                  <option value='CLAUSES'>Clauses</option>
              </select>
          </div>
            
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="btn-update-setting" data-dismiss="modal">Save</button>
          </div>
            
        </div>
      </div>
    </div>
    
    
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.0/js/solid.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.0/js/fontawesome.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/template.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>

    
</body>

</html>